* {
  margin: 0 auto;
}

/************************************
/*            Header CSS           */
/************************************/

nav ul {
  list-style: none;
  margin: 0;
  padding: 0 80px;
  background: #398839;
}

nav ul li a {
  padding: 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

/************************************
/*            Content CSS           */
/************************************/

.main-content {
  padding: 0 50px;
  margin-left: 10px;
}

.list {
  margin-left: 40px;
  margin-top: 20px;
}
