body {
  color: #525252;
  background: #76ff93;
}

h3 {
  padding: 1rem;
}

footer,
nav {
  background-color: #aaaaaa;
  text-align: center;
  padding: 2px;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  color: #525252;
  text-decoration: none;
  margin-left: 32px;
}

div.emptySpace {
  padding: 9rem;
}

.list{
  text-align: center;
  color: #525252;
  list-style: none;
}
